services:
  pihole:
    image: "ghcr.io/pi-hole/pihole:{{ pihole_version_tag }}"
    restart: unless-stopped
    ports:
      - "{{ ansible_default_ipv4.address }}:53:53/udp"
      - "{{ ansible_default_ipv4.address }}:53:53/tcp"
      - "{{ ansible_default_ipv4.address }}:443:443"
    environment:
      TZ: "{{ timezone }}"
      FTLCONF_webserver_api_password: "go"
      FTLCONF_dns_listeningMode: "ALL"
      FTLCONF_dns_upstreams: "{{ dns1 }};{{ dns2 }}"
    volumes:
      - "{{ container_compose_dir }}/conf:/etc/pihole"
      - "{{ container_compose_dir }}/conf/dnsmasq.d:/etc/dnsmasq.d"
