roles/linux_base/tasks/main.yml
roles/docker-compose/tasks/main.yml
roles/dyndns_client/tasks/main.yml
roles/k3s/tasks/main.yml
roles/linux_base/tasks/main.yml
roles/linux_bootstrap/tasks/main.yml
roles/linux_router/tasks/main.yml
roles/netplan/tasks/main.yml
roles/pihole/tasks/main.yml
roles/postgresql/tasks/main.yml
roles/ufw/tasks/main.yml
roles/wireguard/tasks/main.yml
roles/powerdns/tasks/main.yml
