[defaults]
roles_path = ./.galaxy/roles:./roles
inventory = inventories/default/hosts
interpreter_python = /usr/bin/python3.12
no_log = ${ANSIBLE_NO_LOG:true}
inventory_ignore_patterns = ^wireguard_configs/.*$,^netplan_configs/.*$,^ssh_keys/.*$
inventory_ignore_extensions = .orig,.bak,.swp,.vaulted
