---
# symlinked from roles/shared/task/dynamic_tasks_main.yml
# this includes all tasks except of main.yml in a roles tasks folder.

- name: Find all task files for role {{ role_name }} (ignore main.yml)
  delegate_to: localhost # DevSkim: ignore DS162092 -- delegate_to localhost is intentionally
  become: false
  find:
    paths: "{{ role_path }}/tasks"
    use_regex: true
    patterns: '^[0-9]+_[a-z0-9-]+\.yml$'
    excludes: "main.yml"
  register: found_task_files

- name: Build task list from filenames
  set_fact:
    all_tasks: "{{ found_task_files.files | sort(attribute='path') | map(attribute='path') | map('basename') | map('regex_replace', '\\.yml$', '') | list }}"

- name: List available tasks
  debug:
    msg: "available tasks: {{ all_tasks | join(', ') }}"

- name: Choose which tasks to run
  set_fact:
    chosen_tasks: "{{ task_list | default(all_tasks) }}"

- name: List tasks to be exectued
  debug:
    msg: "tasks to be executed: {{ chosen_tasks | join(', ') }}"

- name: Run selected task files
  include_tasks: "{{ item }}.yml"
  loop: "{{ chosen_tasks }}"
