# Systemd service to start Pi-hole via podman-compose at boot

[Unit]
Description=Pi-hole stack (podman-compose)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/podman-compose -f /containers/pihole/docker-compose.yml up -d
ExecStop=/usr/bin/podman-compose -f /containers/pihole/docker-compose.yml down

[Install]
WantedBy=multi-user.target
