---
- name:  Ensure curl is installed
  ansible.builtin.apt:
    name: curl
    state: present
  become: yes

- name: Create DynDNS update script
  ansible.builtin.template:
    src: update-dyndns.sh.j2
    dest: /usr/local/bin/update-dyndns.sh
    owner: root
    group: root
    mode: '0700'
  become: yes

- name: Setup cron job for DynDNS updates
  ansible.builtin.cron:
    name: "Update netzone.ch DynDNS"
    minute: "*/5"
    job: "/usr/local/bin/update-dyndns.sh"
    user: root
  become: yes
