---
- name: Disable IPv6 via sysctl
  become: true
  sysctl: 
    name: "{{ sysctl_param }}"
    value: "1"
    state: present
    sysctl_set: true
    reload: true
  loop: 
    - net.ipv6.conf.all.disable_ipv6
    - net.ipv6.conf.default.disable_ipv6
    - net.ipv6.conf.lo.disable_ipv6
  loop_control:
    loop_var: sysctl_param
  when: disable_ipv6

- name: Ensure IPv6 is disabled in /etc/sysctl.conf
  become: true
  lineinfile:
    path: /etc/sysctl.conf
    regexp: "^{{ sysctl_setting }}"
    line: "{{ sysctl_setting }} = 1"
    state: present
  loop:
    - net. ipv6.conf.all. disable_ipv6
    - net.ipv6.conf. default.disable_ipv6
    - net.ipv6.conf.lo.disable_ipv6
  loop_control: 
    loop_var: sysctl_setting
  when: disable_ipv6
