[Interface]
# {{ ansible_managed }}
Address = {{ wireguard_internal_server_ip }}
ListenPort = {{ wireguard_port }}
PrivateKey = {{ wireguard_server_private_key }}

{% if wireguard_mtu %}
MTU = {{ wireguard_mtu }}
{% endif %}

{% if wireguard_dns | length > 0 %}
DNS = {{ wireguard_dns | join(', ') }}
{% endif %}

{% for command in wireguard_post_up %}
PostUp = {{ command }}
{% endfor %}

{% for command in wireguard_post_down %}
PostDown = {{ command }}
{% endfor %}
